/*HEADER SECTION
=======================================*/
.main-header {
    padding: 20px;
    background:green;
}
.main-banner {
    height: 400px;
    widows: 100%;
    text-align: center;
}

.main-nav {
    background-color: indianred;
    padding: 5px;
    color: #fff;
}
.main-nav li{
    float: left;
    padding: 5px 20px;
    list-style: none;
}
.main-nav li a{
    color: inherit;


}
/*UTILITIES
=======================================*/
.clearfix::after {
     content: "";
  display: table;
  clear: both;
}
