

/*HEADER SECTION
=======================================*/
.main-header {
    padding: 20px;
    background-color: lightcoral;
    overflow: hidden;
    widows: 100%;
}
.main-banner {
    height: 400px;
    widows: 100%;
    text-align: center;
}

.main-nav {
    background-color: indianred;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
.main-nav li{
    float: left;
    padding: 5px 20px;
    list-style: none;
    text-align: center;
}
.main-nav li a{
    color: inherit;
}
/*UTILITIES
=======================================*/
.clearfix::after {
     content: "";
  display: table;
  clear: both;
}
